@model EmployeeDeleteVM

@{
    ViewData["Title"] = "Delete";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="d-flex justify-content-center text-danger">@ViewBag.Error</h3>
    </div>
}


<h3 class="d-flex justify-content-center text-danger">Siparişi silmek istediğinizden emin misiniz?</h3>



<section class="container">
    <form method="post" class="row" enctype="multipart/form-data">



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Sipariş Detayı ID:</label>
            <input asp-for="@Model.Id" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Sipariş ID:</label>
            <input asp-for="@Model.OrderId" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Ürün ID:</label>
            <input asp-for="@Model.ProductId" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Ürün Fiyatı:</label>
            <input asp-for="@Model.UnitPrice" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Ürün Adedi:</label>
            <input asp-for="@Model.Quantity" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label text-primary fw-bold">Sipariş Tarihi:</label>
            <input asp-for="@Model.OrderDate" type="text" class="form-control border border-dark border-2 text-primary" id="formGroupExampleInput" placeholder="Id">
        </div>



        <button type="submit" class="btn btn-outline-danger fw-bold">Delete</button>
        <button asp-action="Index" type="submit" class="btn btn-outline-primary mt-3 fw-bold">LİSTEYE GERİ DÖN</button>
    </form>
</section>